<a href="https://colab.research.google.com/github/algharak/semi-demand-fcst/blob/master/experiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%matplotlib inline
!pip install mxnet
import mxnet as mx
from mxnet import gluon
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import os
from itertools import islice
from pathlib import Path

Collecting mxnet
  Downloading https://files.pythonhosted.org/packages/81/f5/d79b5b40735086ff1100c680703e0f3efc830fa455e268e9e96f3c857e93/mxnet-1.6.0-py2.py3-none-any.whl (68.7MB)
     |████████████████████████████████| 68.7MB 64kB/s
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from mxnet) (2.23.0)
Requirement already satisfied: numpy<2.0.0,>1.16.0 in /usr/local/lib/python3.6/dist-packages (from mxnet) (1.18.5)
Collecting graphviz<0.9.0,>=0.8.1
  Downloading https://files.pythonhosted.org/packages/53/39/4ab213673844e0c004bed8a0781a0721a3f6bb23eb8854ee75c236428892/graphviz-0.8.4-py2.py3-none-any.whl
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.20.0->mxnet) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.20.0->mxnet) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.20.0->mxnet) (2020.4.5.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.20.0->mxnet) (1.24.3)
Installing collected packages: graphviz, mxnet
  Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
Successfully installed graphviz-0.8.4 mxnet-1.6.0

In [3]:
mx.random.seed(0)
np.random.seed(0)

In [4]:
!pip install gluonts

Collecting gluonts
  Downloading https://files.pythonhosted.org/packages/c2/07/5a63f7d645761982743d375fc816120b680e0de13ac139829e509b3206fc/gluonts-0.5.0-py3-none-any.whl (419kB)
     |████████████████████████████████| 419kB 2.8MB/s
Requirement already satisfied: tqdm~=4.23 in /usr/local/lib/python3.6/dist-packages (from gluonts) (4.41.1)
Collecting pydantic~=1.1
  Downloading https://files.pythonhosted.org/packages/57/c9/7d664fbe54863b92cea790c7305915888c2f13a68a754893d8291bab0d0d/pydantic-1.5.1-cp36-cp36m-manylinux2014_x86_64.whl (7.4MB)
     |████████████████████████████████| 7.4MB 13.0MB/s
Requirement already satisfied: pandas~=1.0 in /usr/local/lib/python3.6/dist-packages (from gluonts) (1.0.5)
Collecting ujson~=1.35
  Downloading https://files.pythonhosted.org/packages/16/c4/79f3409bc710559015464e5f49b9879430d8f87498ecdc335899732e5377/ujson-1.35.tar.gz (192kB)
     |████████████████████████████████| 194kB 46.4MB/s
Requirement already satisfied: matplotlib~=3.0 in /usr/local/lib/python3.6/dist-packages (from gluonts) (3.2.2)
Requirement already satisfied: numpy~=1.16 in /usr/local/lib/python3.6/dist-packages (from gluonts) (1.18.5)
Requirement already satisfied: holidays<0.10,>=0.9 in /usr/local/lib/python3.6/dist-packages (from gluonts) (0.9.12)
Requirement already satisfied: dataclasses>=0.6; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from pydantic~=1.1->gluonts) (0.7)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas~=1.0->gluonts) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas~=1.0->gluonts) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib~=3.0->gluonts) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib~=3.0->gluonts) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib~=3.0->gluonts) (0.10.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from holidays<0.10,>=0.9->gluonts) (1.12.0)
Building wheels for collected packages: ujson
  Building wheel for ujson (setup.py) ... done
  Created wheel for ujson: filename=ujson-1.35-cp36-cp36m-linux_x86_64.whl size=68019 sha256=8d42d541fe2953504bc4789cdc1f6189ea23e452fa732b6114e197edd40af7df
  Stored in directory: /root/.cache/pip/wheels/28/77/e4/0311145b9c2e2f01470e744855131f9e34d6919687550f87d1
Successfully built ujson
Installing collected packages: pydantic, ujson, gluonts
Successfully installed gluonts-0.5.0 pydantic-1.5.1 ujson-1.35

In [5]:
from gluonts.dataset.repository.datasets import get_dataset, dataset_recipes
from gluonts.dataset.util import to_pandas
print(f"Available datasets: {list(dataset_recipes.keys())}")

Available datasets: ['constant', 'exchange_rate', 'solar-energy', 'electricity', 'traffic', 'exchange_rate_nips', 'electricity_nips', 'traffic_nips', 'solar_nips', 'wiki-rolling_nips', 'taxi_30min', 'm4_hourly', 'm4_daily', 'm4_weekly', 'm4_monthly', 'm4_quarterly', 'm4_yearly', 'm5']

In [ ]:
dataset = get_dataset("m4_monthly", regenerate=True)

In [ ]:
train_entry = next(iter(dataset.train))
#train_entry = next(iter(dataset.train))
aa = train_entry
print (aa['item_id'])
print(train_entry.keys())

In [ ]:
train_entry = next(iter(dataset.train))
test_entry = next(iter(dataset.test))
print(train_entry['target'].shape)

print(test_entry['target'].shape)
train_entry = next(iter(dataset.train))
test_entry = next(iter(dataset.test))
print(train_entry['target'].shape)

print(test_entry['target'].shape)

In [ ]:
print (type(dataset.metadata))
print (dataset.metadata)

In [ ]:
me=iter(dataset.train)
j = 1
for i in me:
  mef = to_pandas(i)
  print (j)
  print (mef.shape)
  j +=1
print ('i am donr')

In [ ]:

fig, ax = plt.subplots(2, 1, sharex=True, sharey=True, figsize=(10, 7))

train_series.plot(ax=ax[0])
ax[0].grid(which="both")
ax[0].legend(["train series"], loc="upper left")

test_series.plot(ax=ax[1])
ax[1].axvline(train_series.index[-1], color='r') # end of train dataset
ax[1].grid(which="both")
ax[1].legend(["test series", "end of train series"], loc="upper left")

plt.show()

In [6]:
from google.colab import files
uploaded = files.upload()

Saving Historical Product Demand Short.csv to Historical Product Demand Short.csv

In [34]:
import io
import pandas as pd

df2 = pd.read_csv(io.BytesIO(uploaded['Historical Product Demand Short.csv']),parse_dates=["Date"])
df2.head

<bound method NDFrame.head of         Product_Code Warehouse Product_Category       Date  Order_Demand
0       Product_0965    Whse_A     Category_006 2011-01-08             2
1       Product_1724    Whse_A     Category_003 2011-05-31           108
2       Product_1521    Whse_S     Category_019 2011-06-24         85000
3       Product_1521    Whse_S     Category_019 2011-06-24          7000
4       Product_1507    Whse_C     Category_019 2011-09-02          1250
...              ...       ...              ...        ...           ...
315919  Product_1616    Whse_S     Category_024 2013-07-12             1
315920  Product_1886    Whse_S     Category_007 2013-07-12          2000
315921  Product_1892    Whse_S     Category_021 2013-07-12             3
315922  Product_1025    Whse_S     Category_007 2013-07-12            20
315923  Product_1886    Whse_S     Category_007 2013-07-12          5000

[315924 rows x 5 columns]>

In [35]:
df2.shape

(315924, 5)

In [36]:
colnames = df2.columns.to_list()
print(type(colnames))
for i in colnames:
  print (i)

<class 'list'>
Product_Code
Warehouse
Product_Category
Date
Order_Demand

In [37]:
#print (pd.unique(df2['Product_Category']))
prod_categ = list(pd.unique(df2['Product_Category']))
print(type(prod_categ))
print(prod_categ)

<class 'list'>
['Category_006', 'Category_003', 'Category_019', 'Category_001', 'Category_023', 'Category_011', 'Category_007', 'Category_028', 'Category_009', 'Category_021', 'Category_004', 'Category_015', 'Category_024', 'Category_030', 'Category_026', 'Category_018', 'Category_032', 'Category_020', 'Category_013', 'Category_005', 'Category_022', 'Category_031', 'Category_010', 'Category_033', 'Category_017', 'Category_008', 'Category_029', 'Category_025', 'Category_012', 'Category_014', 'Category_002']

In [38]:
print (df2.head)
print (df2.info())

<bound method NDFrame.head of         Product_Code Warehouse Product_Category       Date  Order_Demand
0       Product_0965    Whse_A     Category_006 2011-01-08             2
1       Product_1724    Whse_A     Category_003 2011-05-31           108
2       Product_1521    Whse_S     Category_019 2011-06-24         85000
3       Product_1521    Whse_S     Category_019 2011-06-24          7000
4       Product_1507    Whse_C     Category_019 2011-09-02          1250
...              ...       ...              ...        ...           ...
315919  Product_1616    Whse_S     Category_024 2013-07-12             1
315920  Product_1886    Whse_S     Category_007 2013-07-12          2000
315921  Product_1892    Whse_S     Category_021 2013-07-12             3
315922  Product_1025    Whse_S     Category_007 2013-07-12            20
315923  Product_1886    Whse_S     Category_007 2013-07-12          5000

[315924 rows x 5 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315924 entries, 0 to 315923
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Product_Code      315924 non-null  object
 1   Warehouse         315924 non-null  object
 2   Product_Category  315924 non-null  object
 3   Date              315924 non-null  datetime64[ns]
 4   Order_Demand      315924 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 12.1+ MB
None

In [39]:
start_date = df2['Date'].min()
end_date = df2['Date'].max()
print (start_date,end_date)
print (type(start_date),type(end_date))

2011-01-08 00:00:00 2013-07-12 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'> <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [40]:
idx = pd.date_range(start=start_date, end=end_date)

In [61]:
dtdelta = end_date-start_date
nrows = dtdelta.days
print (type(nrows))
ncols = len (prod_categ)
print(nrows,ncols)

<class 'int'>
916 31

In [62]:
dfnew = pd.DataFrame(np.zeros((nrows+1,ncols),dtype=int),index=idx, columns=prod_categ)
dfnew.head

<bound method NDFrame.head of             Category_006  Category_003  ...  Category_014  Category_002
2011-01-08             0             0  ...             0             0
2011-01-09             0             0  ...             0             0
2011-01-10             0             0  ...             0             0
2011-01-11             0             0  ...             0             0
2011-01-12             0             0  ...             0             0
...                  ...           ...  ...           ...           ...
2013-07-08             0             0  ...             0             0
2013-07-09             0             0  ...             0             0
2013-07-10             0             0  ...             0             0
2013-07-11             0             0  ...             0             0
2013-07-12             0             0  ...             0             0

[917 rows x 31 columns]>

In [ ]:
import datetime
cat_idx = colnames.index('Product_Category')
dt_idx = colnames.index('Date')
value_idx = colnames.index('Order_Demand')
print(cat_idx)
df2.info()

In [67]:
print (dfnew.head)
print (dfnew.info())

<bound method NDFrame.head of             Category_006  Category_003  ...  Category_014  Category_002
2011-01-08             0             0  ...             0             0
2011-01-09             0             0  ...             0             0
2011-01-10             0             0  ...             0             0
2011-01-11             0             0  ...             0             0
2011-01-12             0             0  ...             0             0
...                  ...           ...  ...           ...           ...
2013-07-08             0             0  ...             0             0
2013-07-09             0             0  ...             0             0
2013-07-10             0             0  ...             0             0
2013-07-11             0             0  ...             0             0
2013-07-12             0             0  ...             0             0

[917 rows x 31 columns]>
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 917 entries, 2011-01-08 to 2013-07-12
Freq: D
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category_006  917 non-null    int64
 1   Category_003  917 non-null    int64
 2   Category_019  917 non-null    int64
 3   Category_001  917 non-null    int64
 4   Category_023  917 non-null    int64
 5   Category_011  917 non-null    int64
 6   Category_007  917 non-null    int64
 7   Category_028  917 non-null    int64
 8   Category_009  917 non-null    int64
 9   Category_021  917 non-null    int64
 10  Category_004  917 non-null    int64
 11  Category_015  917 non-null    int64
 12  Category_024  917 non-null    int64
 13  Category_030  917 non-null    int64
 14  Category_026  917 non-null    int64
 15  Category_018  917 non-null    int64
 16  Category_032  917 non-null    int64
 17  Category_020  917 non-null    int64
 18  Category_013  917 non-null    int64
 19  Category_005  917 non-null    int64
 20  Category_022  917 non-null    int64
 21  Category_031  917 non-null    int64
 22  Category_010  917 non-null    int64
 23  Category_033  917 non-null    int64
 24  Category_017  917 non-null    int64
 25  Category_008  917 non-null    int64
 26  Category_029  917 non-null    int64
 27  Category_025  917 non-null    int64
 28  Category_012  917 non-null    int64
 29  Category_014  917 non-null    int64
 30  Category_002  917 non-null    int64
dtypes: int64(31)
memory usage: 269.2 KB
None

In [69]:
nr = df2.shape[0]
print(nr)
for n in range(10):
  #act_date = datetime.datetime.strptime(df2.iloc[n,dt_idx], '%Y-%m-%d').date()
  act_date = df2.iloc[n,dt_idx]
  print(act_date)
  act_cat = df2.iloc[n,cat_idx]
  print(act_cat)
  act_value = int(df2.iloc[n,value_idx])
  print(act_value)
  print (n)
  #dfnew.loc[act_date,cat_idx] += act_value

315924
2011-01-08 00:00:00
Category_006
2
0
2011-05-31 00:00:00
Category_003
108
1
2011-06-24 00:00:00
Category_019
85000
2
2011-06-24 00:00:00
Category_019
7000
3
2011-09-02 00:00:00
Category_019
1250
4
2011-09-27 00:00:00
Category_001
5
5
2011-09-27 00:00:00
Category_001
23
6
2011-09-30 00:00:00
Category_023
5450
7
2011-10-20 00:00:00
Category_011
-2
8
2011-10-20 00:00:00
Category_007
-2
9

In [ ]:
import datetime
cat_idx = colnames.index('Product_Category')
dt_idx = colnames.index('Date')
value_idx = colnames.index('Order_Demand')
print(col_idx)
df2.info()
df2['Date'] = df2['Date'].astype(str)
nr = df2.shape[0]
print(nr)
inds = pd.isnull(df2).any(1)
print('inds',inds)
for n in range(10):
  act_date = datetime.datetime.strptime(df2.iloc[n,dt_idx], '%Y-%m-%d').date()
  print
  act_cat = df2.iloc[n,cat_idx]
  act_value = int(df2.iloc[n,value_idx])
  print (n)
  dfnew.loc[act_date,act_cat] += act_value
  #print (dfnew.loc[act_date,act_cat])
  #print(act_value)